name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"  # runs every day
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Generate Snake Animation
        uses: Platane/snk@v3
        with:
          github_user_name: kamrulhasanpro
          outputs: dist/snake.svg

      - name: Push Snake Animation to the repo
        uses: EndBug/add-and-commit@v9
        with:
          message: "Generate Snake Animation"
          add: "dist/snake.svg"
